name: build

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  base:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [8.4, 8.3]
        include:
          - php: 8.5
            dockerfile: php85.Dockerfile

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: cappuc
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ matrix.dockerfile || 'stable.Dockerfile' }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha,scope=php-${{ matrix.php }}
          cache-to: type=gha,scope=php-${{ matrix.php }},mode=min
          push: true
          tags: cappuc/gitlab-ci-laravel:php${{ matrix.php }}

  browsers:
    runs-on: ubuntu-latest
    needs: [base]

    strategy:
      matrix:
        php: [8.5, 8.4, 8.3]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: cappuc
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./browsers.Dockerfile
          build-args: |
            IMAGE_TAG=php${{ matrix.php }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: cappuc/gitlab-ci-laravel:php${{ matrix.php }}-browsers
